# Cache & Logs
var/cache
var/logs

# bin

var/cache/
var/logs/
var/sessions/

app/config/parameters.yml
app/config/config_dev.yml
app/config/*.local.yml

vendor/

web/bundles
web/vendor
web/assets

bin
vendor
node_modules

# specific
